.products {
  margin: 20px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.product__single {
  height: 150px;
  padding: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
}

.product__single > img {
  width: 100%;
  height: 89%;
  object-fit: cover;
  margin-bottom: 3px;
}
.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.pagination > span {
  padding: 15px 20px;
  border: 1px solid gray;
  cursor: pointer;
}
.pagination__selected {
  background-color: lightblue;
  font-weight: 700;
}

.pagination__disable {
  opacity: 0;
}
